.table-background {
  /* This this centers table at the body */
  position: absolute;
  width: 50vw;
  height: 25vw;
  top: calc(50% - 20vw);
  left: calc(50% - 40vw);
  background: green;
  border-radius: 50%;
  border: 3px solid black;
}

.table-seat {
  width: 20% !important;
  height: 40% !important;
}

.table-seat:nth-child(1) {
  top: 37.5%;
  left: -6.25%;
}

.table-seat:nth-child(2) {
  top: -12.5%;
  left: 25%;
}

.table-seat:nth-child(3) {
  top: -12.5%;
  right: 25%;
}

.table-seat:nth-child(4) {
  top: 37.5%;
  right: -6.25%;
}

.table-seat:nth-child(5) {
  bottom: -12.5%;
  right: 25%;
}

.table-seat:nth-child(6) {
  bottom: -12.5%;
  left: 25%;
}
